.topbar {
    position: relative;
  }
  .img-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .img-main-container p {
    color: #1F4788;
    font-size: 26px;
  }
  .img-main-container img {
    max-height: 300px;
    max-width: 100%;
  }
  .button-wrap {
    border-radius: 23px;
    color: #fff;
    font-size: 12px;
    padding: 5px 20px;
    background: #1F4788;
    text-decoration: none;
    margin-top: 30px;
  }