<header>
  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
     <a routerLink="" class="dashboard-logo"><img src="./assets/admin-img/inbloxBetaLogo.svg"></a>
  </nav>
</header>
<div class="img-main-container" style="width: 60%; margin-left: 20%">
    <div class="row"  >
      <div class="col-2">
      </div>
      <div class="col-8" width="60%">
        <div class="img-main-container">
          <img src="./assets/img/404.svg" alt="">
          <p>Swap between any ERC Compliant token at the lowest possible
            cost/slippage, this is offered through decentralised exchange
            pools.</p>
            <button class="button-wrap" (click)="initTokenSwapSdk()">Start Swapping</button>
         
        </div>
      </div>
    </div>
  </div>